@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
    --body__black-background-color: #0f0f0f;
    /* - */
    --card__dark-background-color: #191919;
    --card__dark-border-color: #212121;
    /* - */
    --card__black-background-color: #262626;
    --card__black-background-color--hover: #353535;
    --card__black-border-color: #2f2f2f;
    /* - */
    --card__white-background-color: #fefefe;
    --card__white-background-color--hover: #d6d6d6;
    --card__white-border-color: #cecece;
    /* - */
    --txt__white-color: #fefefe;
    --txt__black-color: #262626;
    /* - */
    --power4__color--background: #2f68e6;
    --power4__color--border: #1f5dc5;
}

* {
    font-family: "Outfit", sans-serif;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: #00000096;
    animation: background_blur_transition 1s ease forwards;
}

.btn {
    padding: 0.8em 1em;
    display: flex;
    border-radius: 0.4em;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
}

a.btn {
    padding: 0.3em 1em;
}

.btn--black {
    border: 0.2em solid var(--card__black-border-color);
    background-color: var(--card__black-background-color);
    color: var(--txt-color);
}

.btn--black:disabled {
    background-color: var(--card__black-background-color) !important;
}

.btn--black:hover {
    background-color: var(--card__black-background-color--hover);
}

.btn--white {
    background-color: var(--card__white-background-color);
    border: 0.2em solid var(--card__white-border-color);
    color: var(--txt__black-color);
}

.btn--white:disabled {
    background-color: var(--card__white-background-color) !important;
}

.btn--white:hover {
    background-color: var(--card__white-background-color--hover);
}

.btn__disabled {
    border: 0.2em solid var(--card__dark-border-color);
    background-color: var(--card__dark-background-color) !important;
    cursor: default;
}

body {
    margin: 0;
    color: var(--txt__white-color);
    background-color: var(--body__black-background-color);
}

.game__selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__selection img {
    width: 12em;
    margin: 2em 0 1.5em 0;
}

.selection__menu {
    margin-inline: auto;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: var(--card__dark-background-color);
    border: 0.2em solid var(--card__dark-border-color);
    border-radius: 0.3em;
}

.selection__menu h1 {
    margin: 0;
}

.selection__player {
    display: flex;
    gap: 1em;
}

.selection__slot {
    display: flex;
    gap: 0.4em;
}

.selection__slot button {
    cursor: pointer;
}

.selection__slot button:disabled {
    cursor: default;
}

.item__selected {
    cursor: default !important;
    animation: opacity_transition 0.5s ease forwards;
}

.selection__play {
    width: fit-content;
    margin: 3em 0 0 0;
}

@keyframes opacity_transition {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes background_blur_transition {
    from {
        backdrop-filter: blur(0px);
    }
    to {
        backdrop-filter: blur(10px);
    }
}
